@model ApplicationCore.ViewModels.RegisterViewModels

<h1>Success register </h1>
<div class="alert alert-success" >
    <h2>
       @Model.UserName !
    </h2>
    <p> You are registerd successfully </p>
</div>
